/* =============================================
   VARIABLES GLOBALES — Design tokens ISeP
   Editar aqui para cambiar colores en toda la web
   ============================================= */

:root {
  /* Paleta principal */
  --primary:                  #00254d;
  --primary-container:        #003b73;
  --primary-fixed:            #d5e3ff;

  /* Paleta secundaria */
  --secondary:                #0055c9;
  --secondary-container:      #036cfb;
  --on-secondary-container:   #fefcff;

  /* Paleta terciaria */
  --tertiary-container:       #004058;
  --on-tertiary-container:    #00b1ed;

  /* Superficies */
  --surface:                  #f9f9ff;
  --surface-container-low:    #f1f3ff;
  --surface-container-lowest: #ffffff;
  --surface-container-highest:#d7e3ff;

  /* Texto */
  --on-surface:               #001b3f;
  --on-surface-variant:       #434750;

  /* Bordes */
  --outline-variant:          #c3c6d1;
  --outline:                  #737781;

  /* Neutros */
  --white:                    #ffffff;
  --slate-400:                #94a3b8;
  --slate-500:                #64748b;
  --slate-600:                #475569;
  --slate-900:                #0f172a;
  --slate-950:                #020617;

  /* Layout */
  --navbar-height:            72px;
}
